/* ==========================================================================OVERAL====================================================================== */
:root {
	/*COLORS*/
  --bgColor: #f1f1f1;
  --headerColor: #c12026;
	/* --headerColor: #de373d; */
	--accentColor: #2264ae;
  --buttonColor: #0077cc;
}


*{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  /* Bron video: https://www.youtube.com/watch?v=07kABuU3vo4 */
  background: url(../resources/images/bgImage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* section>ul>li>p:last-child{
  font-weight: bold;
  color: var(--headerColor);
  font-size: 1.3em;
  background: white;
  padding: 0.3em;
  border-radius: 1em 0;
} */

h1{
  padding-top: 1em;
  padding-bottom: .4em;
  color: var(--headerColor);
  margin: 0;
}

h2{
  font-size: 1.1em;
  margin-bottom: 0;
  /* color: var(--accentColor); */
}

li h2{
  margin-top: 0;
}

h2, h3{
  color: var(--accentColor);
}

h3{
  font-size: 1.05em;

}

main{
  margin: 0;
  background: var(--bgColor);
  padding-bottom: 4em;
}

a{
  text-decoration: none;
  color: black;
}

strong{
  font-size: 1.05em;
}

/* ==========================================================================HEADER====================================================================== */
header{
  width: 100%;
  height: 5em;
  background: var(--headerColor);
  border-bottom: .1em solid white;
  color: black;
  position: fixed;
  z-index: 2;
}

nav{
  padding: 0;
  margin: 0;
  /* justify-content: space-between; */
}


nav input{
  display: none;
}

nav label{
  display: inline-block;
  align-self: center;
  padding: 1.5vh;
  font-size: 2.3em;
  background: var(--headerColor);
  color: white;
}

nav>ul{
  display: none;
  list-style: none;
  padding: 3vh 0 0 0;
  margin: 0;
  background: var(--headerColor);
  height: 100vh;
}

nav input:checked ~ ul{
  display: block;
}

nav>ul>li{
  display: block;
  background: var(--headerColor);
  border-top: solid 1px white;
  transition: all .3s ease-in;
  padding: .1em 1em;
}

nav>ul>li:hover{
  background: var(--accentColor);
  border-radius: 1em 0;
  color: white;
  border: .1em solid white;
  box-sizing: border-box;
}


nav>ul>li>a{
  display: block;
  text-align: center;
  padding: 2em 1em;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

header>a>img{
  position: absolute;
  width: 24%;
  max-width: 10em;
  margin-top: 0;
  padding-top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: all 3s ease-out;
}

header>a>img:hover{
  left: -8em;
  transform: rotate(360deg);
  transition: all 3s ease-out;
}

header>img{
  width: 2em;
}

nav>img{
  width: 3em;
}

/* ==========================================================================VIDEO===================================================================== */
.frame{
  background: var(--headerColor);
  width: 100%;
  height: 45vh;
  display: block;
  z-index: 1;
}

.frame img{
  height: 20em;
  width: 100%;
  object-fit: cover;
  filter: brightness(90%);
}

/* .frame>video, .frame>img, .frame>iframe{
  margin-top: 4em;
  height: 33vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(90%);
} */

/* .slider{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  width: 94%;
  margin: 12vh 3% 0 3%;
  margin: 0 3%;
  animation: mainslides 39s infinite;
  /* position: fixed; */

.load{
  padding-top: 5em;
  animation: mainslides 80s;
}

.slider{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 44.5vh;
  animation: mainslides 80s infinite;
  filter: grayscale(90%);
}


@keyframes mainslides {
  0%{
    background-image: url("../resources/images/jumpingBars.jpg");
  }
  33%{
    background-image: url("../resources/images/salmonLadder.jpg");
  }
  66%{
    background-image: url("../resources/images/tarzanswing.jpg");
  }
  100%{
    background-image: url("../resources/images/unstableBridge.jpg");
  }
}


/* ===========================================================================MAIN====================================================================== */

/* ===========================================================================WRAPPER====================================================================== */

section{
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

section>div{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* ===========================================================================DROPDOWN====================================================================== */
select{
  margin: 0 0 0 auto;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  height: 1.5em;
  font-size: 1em;
  text-align: right;
  background: var(--bgColor);
}

/* BRON CODE VAN VERWIJDEREN DROPDOWN PIJL: https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element#18878556 */
select:required:invalid{
  color: grey;
}

option[value=""][disabled]{
  display: none;
}

option{
  color: black;
}

select>option{
  text-align: right;
  font-size: 1.1em;
}

select>option:active{
  color: red;
}

select:focus {
  color: var(--headerColor);
  transition: .3s;
}

/* ===========================================================================GRID====================================================================== */
section>ul{
  /* justify-content: center; */
  list-style: none;
  background: var(--bgColor);
  color: black;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 2em;
}

/* ===========================================================================GRIDITEMS====================================================================== */
section>ul>li img{
  object-fit: cover;
  width: 100%;
  height: 12em;
  box-sizing: border-box;
  border-bottom: 0.2em solid var(--accentColor);
  border-radius: .8em 0 0 0;
}

section>ul>li{
  box-sizing: border-box;
  /* border: 1px solid black; */
  background: white;
  border: 0.2em solid var(--accentColor);
  transition: .4s all ease-in-out;
  border-radius: 0 0 1em 0;
}

section>ul>li h2{
  padding: .5em 1em 0 1em;
}

section>ul>li article{
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: row;
}

section>ul>li article>section{
  padding: 0;
  margin: 0;
}

section>ul>li article>section:last-child{
  padding: 0;
  margin: 0;
  background: white;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--headerColor);
  padding: .3em;
  border-radius: 1em 0;
  width: 4em;
  align-self: flex-end;
}

/* section>ul>li article>p:last-child{
  font-weight: bold;
  color: var(--headerColor);
  background: white;
  font-size: 1.3em;
  padding: 0.3em;
  border-radius: 1em 0;
  text-align: right;
} */

section>ul>li:hover, section>ul>li:hover a, section>ul>li:hover h2{
  background: var(--accentColor);
  color: white;
  transition: .4s ease-in-out;
  border-radius: 1em 0;
}



/* section>ul>li>div{
  display: flex;
  flex-direction: row;
} */

section>ul>li>div>img{
  height: 6em;
}

section p{
  margin: 0;
  padding: 0;
}

section h3{
  margin: 0;
  padding: 0;
}


.detailPageMain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding: 0 5%;
  justify-content: space-between;
  padding-bottom: 2em;
}

.detailPageMain>section{
  max-width: 40em;
  min-width: 20em;
  margin: 0;
  /* min-width: 30em; */
}

.detailPageMain>section:first-child>p:last-child{
  font-size: .8em;
  margin-bottom: 1em;
}

.detailPageMain>section:nth-child(2){
  width: 27em;
  text-align: left;
  background: white;
  border-radius: 1em 0;
  height: auto;
  padding: 0 1em;
  box-sizing: border-box;
  margin-top: 1em;
  min-height: 26em;
  align-self: flex-start;
  margin-bottom: auto;
  /* min-width: 25em; */
}

table{
  border: 1px solid black;
  background: white;
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

table>tr{
  text-align: center;
}

th{
  padding: 1em 0;
  color: white;
  background: var(--accentColor);
}

td{
  border-bottom: 0.1em solid var(--accentColor);
  text-align: center;
}



/* ===========================================================================FOOTER====================================================================== */
footer{
  background: var(--headerColor);
  color: white;
  text-align: center;
  margin-bottom: 3em;
  padding: 3% 5%;
}

footer>section{
  display: flex;
  justify-content: space-between;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
}

footer>section>img{
  /* max-width: 7em; */
  width: 24%;
  max-width: 15em;
  margin: auto;
  display: none;
}

footer>section>form{
  width: 90%;
  max-width: 30em;
  margin: auto;

}

footer>section>form>fieldset{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

footer>section>form>fieldset>label{
  padding: .8em 0 .3em 0;
  text-align: left;
}

footer>section>form>fieldset>input{
  padding: .1em;
  border: none;
  transition: all .3s ease-in;
  background: var(--bgColor);
  color: black;
  border: .1em solid transparent;
  border-bottom: .3em solid transparent;
}

footer>section>form>fieldset>input:focus{
  padding: .5em;
  background: white;
  color: var(accentColor);
  border: .1em solid var(--accentColor);
  border-bottom: .3em solid var(--accentColor);
}

footer>section>form:valid{
  background: var(--accentColor);
  transition: all 1s ease-in;
  border-radius: 1em 0;
  padding: .5em;
  box-sizing: border-box;
}

footer legend{
  font-size: 1.1em;
}

footer>section>form>fieldset>input:invalid{
  color: var(--headerColor);
  font-weight: bold;
}

footer>section>form>fieldset>input:valid{
  color: var(--accentColor);
}

button{
  padding: .8em;
  margin: .8em auto .8em auto;
  font-size: 1.1em;
  color: white;
  background: var(--accentColor);
  border: none;
  border-radius: 1em 0;
  border: .1em solid transparent;
  transition: all .3s ease-in;
}

footer>section>form>fieldset>button{
  background: none
}

button:hover, button:focus{
  background: var(--headerColor);
  border: .1em solid white;
}


footer>p{
  border-top: .05em solid white;
  padding-top: 1em;
  margin-top: 2em;
  font-size: .8em;
}

@media only screen and (min-width: 1000px) {
  header{
    position: absolute;
    height: 5em;
  }

  .frame{
    background: var(--headerColor);
    width: 84%;
    height: auto;
    display: block;
    margin: 0 8%;
    padding: 0;
  }

  .frame>video, .frame>img{
    margin-top: 5em;
    object-fit: cover;
    width: 100%;
    height: auto;
    /* height: 100vh; */
  }

  .frame>img{
    height: 20em;
  }



  /* .hider{
    position: absolute;
    background: red;

  } */

  .slider{
    height: 100vh;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  nav>ul{
    display: inline-block;
    margin: 1em 0 1em 17%;
    padding: 0;
    height: 3em;
  }

  nav>ul>li{
    display: inline-block;
    border: .1em solid var(--headerColor);
    padding: .5em;
    margin: .2em;
  }

  nav>ul>li:first-child{
    display: none;
  }

  /* nav>ul>li:hover{
    border-bottom: 1px solid white;
    transition: 0.3s border-bottom;
  } */

  nav>ul>li>a{
    width: auto;
    padding: 0.3em 1em;
  }

  nav label{
    display: none;
  }

  header>a>img{
    display: inline-block;
    margin: 0 0 0 7%;
  }

  main, footer{
    margin-left: 8%;
    margin-right: 8%;
    width: auto;
    background: var(--bgColor);
  }

  footer{
    background: var(--headerColor);
  }

  footer>section>img{
    display: block;
  }


  /* section{
    width: 70%;
    margin: 0 auto;
  } */
}




/* header{
  color: white;
  width: 100vw;
  margin: 0;
  padding: 0 5vw;
  height: 9vh;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  z-index: 2;
}

header > img{
  width: 30vmin;
  margin-right: auto;
  align-self: flex-start;
}
/*de373d*/
/* 2264ae */
/* nav>ul{
  background: #de373d;
  opacity: 0.8;
  display: flex;
  align-items: center;
  margin-top: 1vh;
  padding-left: 0;
  border: solid 1px white;
}

nav > ul > li{
  list-style: none;
  width: 10vw;
  text-align: center;
}

li:hover > a{
  transition: 0.6s color;
  color: #2264ae;
  background: #de373d;
  border-left: solid 1px white;
  border-right: solid 1px white;
  box-sizing: border-box;
}

nav > ul > li > a{
  transition: 0.6s color;
  flex-direction: column;
  align-content: center;
  text-decoration: none;
  color: white;
  display: block;
  padding: 2.5vh 0;
}

.load{
  animation: mainslides 7s;
}

.slider{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  animation: mainslides 21s infinite;
  position: fixed;
}

@keyframes mainslides {
  0%{
    background-image: url("../resources/images/main1.jpg");
  }
  33%{
    background-image: url("../resources/images/main2.jpg");
  }
  66%{
    background-image: url("../resources/images/main3.jpg");
  }
  100%{
    background-image: url("../resources/images/main1.jpg");
  }
}

@media only screen and (max-width: 600px) {
  body {

    background-color: lightblue;
  }

  nav > ul{
    flex-direction: row;
  }
}

main{
  width: 100%;
  min-height: 100vh;
  top: 100vh;
  background: #e2e2e2;
  padding: 5vh 10vw;
  box-sizing: border-box;
  display: block;
  position: relative;
  z-index: 1;
}

.trainingen{
  background: white;
  padding: 5vh 10vw;
}

.trainingen > h2{
  margin-top: 0;
}

.trainingen ul{
  padding: 0;
}

.trainingen li{
  transition: 1s padding;
  list-style: none;
  padding: 0;

}

.trainingen li:hover{
  transition: 1s padding;
  padding: 0 3vw;
}  */
