/* ==========================================================================OVERAL====================================================================== */
:root {
	/*COLORS*/
  --bgColor: #f1f1f1;
  --headerColor: #c12026;
	--accentColor: #2264ae;
  --accentColor2: white;
  --buttonColor: #0077cc;
}

*{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  /* Bron video: https://www.youtube.com/watch?v=07kABuU3vo4 */
  background: url(../resources/images/bgImage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* section>ul>li>p:last-child{
  font-weight: bold;
  color: var(--headerColor);
  font-size: 1.3em;
  background: white;
  padding: 0.3em;
  border-radius: 1em 0;
} */

h1{
  padding-top: 1em;
  padding-bottom: .8em;
  color: var(--headerColor);
  margin: 0;
  font-size: 1.5em;
}

h2{
  font-size: 1.1em;
  margin-bottom: 0;
  /* color: var(--accentColor); */
}

li h2{
  margin-top: 0;
}

h2, h3{
  color: var(--accentColor);
}

h3{
  font-size: 1.05em;

}

main{
  margin: 0;
  background: var(--bgColor);
  padding-bottom: 4em;
}

a{
  text-decoration: none;
  color: black;
}

strong{
  font-size: 1.05em;
}

/* =====================================================================------HEADER------================================================================ */
header{
  width: 100%;
  height: 5em;
  background: var(--headerColor);
  border-bottom: .1em solid var(--accentColor2);
  color: black;
  position: fixed;
  z-index: 2;
}

nav{
  padding: 0;
  margin: 0;
}


nav input{
  display: none;
}

nav label{
  display: inline-block;
  align-self: center;
  padding: 1.5vh;
  font-size: 2.3em;
  background: var(--headerColor);
  color: var(--accentColor2);
}

nav>ul{
  list-style: none;
  padding: 3vh 0 0 0;
  margin: 0;
  margin-top: -125vh;
  background: var(--headerColor);
  height: 100vh;
  padding-top: 10em;
  transition: all 1s cubic-bezier(.35,.05,.65,1.39);
}

nav input:checked ~ ul{
  display: block;
  margin-top: -8em;
}

nav>ul>li{
  display: block;
  background: var(--headerColor);
  border-top: solid 1px var(--accentColor2);
  transition: all .3s ease-in;
  padding: .1em 1em;
}

nav>ul>li:hover{
  background: var(--accentColor);
  /* border-radius: 1em 0; */
  color: var(--accentColor2);
  border: .1em solid var(--accentColor2);
  box-sizing: border-box;
}


nav>ul>li>a{
  display: block;
  text-align: center;
  padding: 1em 1em;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: var(--accentColor2);
  text-decoration: none;
}

header>a>img{
  position: absolute;
  width: 24%;
  max-width: 10em;
  margin-top: 0;
  padding-top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: all 3s ease-out;
}

header>a>img:hover{
  left: -8em;
  transform: rotate(360deg);
  transition: all 3s ease-out;
}

header>img{
  width: 2em;
}

nav>img{
  width: 3em;
}

/* ==========================================================================KEYFRAME===================================================================== */
.frame{
  background: var(--headerColor);
  width: 100%;
  height: 45vh;
  display: block;
  z-index: 1;
}

.frame img{
  height: 20em;
  width: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.load{
  padding-top: 5em;
  animation: mainslides 80s;
}

.slider{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 44.5vh;
  animation: mainslides 80s infinite;
  filter: brightness(80%);
}


@keyframes mainslides {
  0%{
    background-image: url("../resources/images/jumpingBars.jpg");
  }
  33%{
    background-image: url("../resources/images/salmonLadder.jpg");
  }
  66%{
    background-image: url("../resources/images/tarzanswing.jpg");
  }
  100%{
    background-image: url("../resources/images/unstableBridge.jpg");
  }
}


/* =====================================================================-------MAIN-------=================================================================== */

/* ===========================================================================WRAPPER====================================================================== */

section{
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

section>section{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
}

/* ===========================================================================DROPDOWN====================================================================== */
select{
  margin: 0 0 0 auto;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  height: 1.5em;
  font-size: 1em;
  text-align: right;
  background: var(--bgColor);
}

/* BRON CODE VAN VERWIJDEREN DROPDOWN PIJL: https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element#18878556 */
select:required:invalid{
  color: grey;
}

option[value=""][disabled]{
  display: none;
}

option{
  color: black;
}

select>option{
  text-align: right;
  font-size: 1.1em;
}

select>option:active{
  color: red;
}

select:focus {
  color: var(--headerColor);
  transition: .3s;
}

/* ===========================================================================GRID====================================================================== */
section>ul{
  /* justify-content: center; */
  list-style: none;
  background: var(--bgColor);
  color: black;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 2em;
}

/* ===========================================================================GRIDITEMS====================================================================== */
section>ul>li img{
  object-fit: cover;
  width: 100%;
  height: 12em;
  box-sizing: border-box;
  border-bottom: 0.2em solid var(--accentColor);
  border-radius: .8em 0 0 0;
  filter: grayscale(80%);
  transition: all .5s ease-in;
}

section>ul>li{
  box-sizing: border-box;
  background: var(--accentColor2);
  border: 0.2em solid var(--accentColor);
  transition: .4s all ease-in-out;
  border-radius: 1em 0;
}

section>ul>li h2{
  padding: .5em 1em 0 1em;
}

section>ul>li article{
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: row;
}

section>ul>li article>section{
  padding: 0;
  margin: 0;
}

section>ul>li article>section:last-child{
  padding: 0;
  margin: 0;
  background: var(--accentColor2);
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--headerColor);
  padding: .3em;
  border-radius: 1em 0;
  width: 4em;
  align-self: flex-end;
}

section>ul>li:hover, section>ul>li:hover a{
  background: var(--accentColor);
  color: var(--accentColor2);
  transition: .4s ease-in-out;
  border-radius: 1em 0;
}

section>ul>li:hover img{
  filter: grayscale(0);
}

section>ul>li:hover h2{
  color: var(--accentColor2);
}

section p{
  margin: 0;
  padding: 0;
}

section h3{
  margin: 0;
  padding: 0;
}

.detailPageMain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding: 0 5%;
  justify-content: space-between;
  padding-bottom: 2em;
}

.detailPageMain>section{
  max-width: 40em;
  min-width: 20em;
  margin: 0;
}

.detailPageMain>section:first-child>p:last-child{
  font-size: .8em;
  margin-bottom: 1em;
}

.detailPageMain>section:nth-child(2){
  width: 27em;
  text-align: left;
  background: var(--accentColor2);
  border-radius: 1em 0;
  height: auto;
  padding: 0 1em;
  box-sizing: border-box;
  margin-top: 1em;
  min-height: 26em;
  align-self: flex-start;
  margin-bottom: auto;
}

table{
  border: 1px solid black;
  background: var(--accentColor2);
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

table>tr{
  text-align: center;
}

th{
  padding: 1em 0;
  color: var(--accentColor2);
  background: var(--accentColor);
}

td{
  border-bottom: 0.1em solid var(--accentColor);
  text-align: center;
}

main>form{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding-top: 1.5em;
}

main>form>label{
  padding-bottom: .5em;
  color: var(--accentColor);
}

main>form>input{
  padding: .5em;
  box-sizing: border-box;
}

main>form>button{
  width: 40%;
  min-width: 15em;
}

main>ul{
  display: grid;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

main>ul>li{
  background: var(--accentColor2);
  padding: 1em;
  width: 9em;
  align-items: center;
}

ul>li>button{
  position: absolute;
  margin-top: -19.6em;
  margin-left: -.8em;
  padding: .4em .8em;
  border: .1em solid var(--bgColor);
}


/* ===========================================================================FOOTER====================================================================== */
footer{
  background: var(--headerColor);
  color: var(--accentColor2);
  text-align: center;
  margin-bottom: 3em;
  padding: 3% 5%;
}

footer>section{
  display: flex;
  justify-content: space-between;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
}

footer>section>img{
  width: 24%;
  max-width: 15em;
  margin: auto;
  display: none;
  transition: transform 3s ease-in-out;
}

footer>section>img:hover{
  transform: rotate(1440deg);
  transition: transform 3s ease-in-out;
}

footer>section>form{
  width: 90%;
  max-width: 30em;
  margin: auto;

}

footer>section>form>fieldset{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

footer>section>form>fieldset>label{
  padding: .8em 0 .3em 0;
  text-align: left;
}

footer>section>form>fieldset>input{
  padding: .1em;
  border: none;
  transition: all .3s ease-in;
  background: var(--bgColor);
  color: black;
  border: .1em solid transparent;
  border-bottom: .3em solid transparent;
  width: 100%;
}

footer>section>form>fieldset>input:focus{
  padding: .5em .1em;
  background: var(--accentColor2);
  color: var(accentColor);
  border: .1em solid var(--accentColor);
  border-bottom: .3em solid var(--accentColor);
}

footer>section>form:valid{
  background: var(--accentColor);
  transition: all 1s ease-in;
  border-radius: 1em 0;
  padding: .5em;
  box-sizing: border-box;
}

footer legend{
  font-size: 1.1em;
}

footer>section>form>fieldset>input:invalid{
  color: var(--headerColor);
  font-weight: bold;
  background: #ffaeae;
}

footer>section>form>fieldset>input:valid{
  color: var(--accentColor);
  color: var(--accentColor2);
  background: var(--accentColor);
  border-bottom: .1em solid var(--accentColor2);
}

button{
  padding: .5em;
  margin: .8em auto .8em auto;
  font-size: 1em;
  color: var(--accentColor2);
  background: var(--accentColor);
  border: none;
  border-radius: 1em 0;
  border: .1em solid transparent;
  transition: all .3s ease-in;
}

footer>section>form>fieldset>button{
  background: none
}

button:hover, button:focus{
  background: var(--headerColor);
  border: .1em solid var(--accentColor2);
}

footer>p{
  border-top: .05em solid var(--accentColor2);
  padding-top: 1em;
  margin-top: 2em;
  font-size: .8em;
}

@media only screen and (min-width: 1000px) {
  header{
    position: absolute;
    height: 5em;
  }

  .frame, .frameImg{
    background: var(--headerColor);
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
  }

  .frameImg{
    width: 84%;
    margin: 0 auto;
  }

  .frameImg>img{
    margin-top: 5em;
    object-fit: cover;
    width: 100%;
    height: 20em;
  }

  .slider{
    height: 100vh;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  nav>ul{
    display: inline-block;
    margin: 1em 0 1em 17%;
    padding: 0;
    height: 3em;
    transition-duration: 0s;
  }

  nav>ul>li{
    display: inline-block;
    border: .1em solid var(--headerColor);
    padding: .5em;
    margin: .2em;
    border-radius: 1em 0;
  }

  nav>ul>li:first-child{
    display: none;
  }

  nav>ul>li>a{
    width: auto;
    padding: 0.3em 1em;
  }

  nav label{
    display: none;
  }

  header>a>img{
    display: inline-block;
    margin: 0 0 0 7%;
  }

  main, footer{
    margin-left: 8%;
    margin-right: 8%;
    width: auto;
    background: var(--bgColor);
  }

  footer{
    background: var(--headerColor);
  }

  footer>section>img{
    display: block;
  }
}

/* =====================================================================Dark theme Windows 10====================================================================== */
/* Bron dark theme windows 10: https://www.youtube.com/watch?v=_yCgeXFAXTM */
@media (prefers-color-scheme: dark){
  :root {
  	/*COLORS*/
    --bgColor: black;
    --accentColor2: black;
  }

  *{
    color: #c1c1c1;
  }

  header, .frame, .frameImg, h1, footer {
    filter: brightness(70%);
  }

  body{
    background: url(../resources/images/bgImageDark.jpg);
  }

  main{
    border-left: .1em solid #c1c1c1;
    border-right: .1em solid #c1c1c1;
  }

  footer{
    border: .1em solid white;
  }

  section>ul>li:hover h2{
    color: var(--headerColor);
    transition: all 1s ease-in-out;
  }

  section>ul>li:hover{
    background: black;
  }
}
