/* ==========================================================================OVERAL====================================================================== */
:root {
	/*COLORS*/
  --bgColor: #f1f1f1;
	--headerColor: #de373d;
	--accentColor: #2264ae;
  --buttonColor: #0077cc;
}


*{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  background: var(--bgColor);
}

strong{
  font-weight: bold;
  color: var(--headerColor);
  font-size: 1.3em;
  background: white;
  padding: 0.3em;
  border-radius: 1em 0;
}

/* ==========================================================================HEADER====================================================================== */
header{
  width: 100%;
  height: 10vh;
  background: var(--headerColor);
  color: black;
  position: fixed;
  z-index: 2;
}

/* nav{
  padding: 0;
  margin: 0;
} */

nav{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: blue;
  width: 100%;
  height: 10vh;
}


nav input{
  display: none;
}

/* nav label{
  display: inline-block;
  align-self: center;
  margin: 1.5vh;
  font-size: 5vh;
  background: var(--headerColor);
  color: white;
} */

nav label{
  color: white;
  font-size: 5vh;
  margin: 1.5vh;
  order: 1;
  align-self: center;
}

nav>img{
  height: 5vh;
  margin: 1.5vh;
  order: 3;
}

nav>ul{
  display: none;
  list-style: none;
  padding: 3vh 0 0 0;
  margin: 0;
  background: var(--headerColor);
  width: 100%;
}

nav input:checked ~ ul{
  display: block;
}

nav>ul>li{
  display: block;
  background: var(--headerColor);
  border-top: solid 1px white;
  transition: all .3s ease-in;
}

nav>ul>li:hover{
  background: var(--accentColor);
  border-radius: 1em 0;
  color: white;
}


/* nav>ul>li>a{
  display: block;
  text-align: center;
  padding: 3vh;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
} */

/* header>a>img{
  position: absolute;
  width: 24%;
  max-width: 7em;
  margin-top: 0;
  padding-top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
} */


header>a>img:hover{
  transform: rotate(360deg);
  transition: 3s ease-out;
}

header>nav>a{
  padding: 0;
  margin: 0;
  width: 24%;
  max-width: 7em;
  order: 2;
}

header>nav>a>img{
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

/* header>img{
  width: 2em;
} */

/* nav>img{
  width: 3em;
} */

/* ==========================================================================SLIDER===================================================================== */
.frame{
  background: #de373d;
  width: 100%;
  height: 35vh;
  /* position: fixed; */
  position: block;
  z-index: 1;
}

.load{
  animation: mainslides 13s;
}

.slider{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  width: 94%;
  margin: 12vh 3% 0 3%;
  margin: 0 3%;
  animation: mainslides 39s infinite;
  /* position: fixed; */
  position: block;
}

@keyframes mainslides {
  0%{
    background-image: url("../resources/images/main1.jpg");
  }
  33%{
    background-image: url("../resources/images/main2.jpg");
  }
  66%{
    background-image: url("../resources/images/main3.jpg");
  }
  100%{
    background-image: url("../resources/images/main1.jpg");
  }
}

/* ===========================================================================MAIN====================================================================== */
main{
  padding-top: 35vh;
  /* overflow-x: hidden; */
}

section{
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

section>div{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}


/* CODE VAN VERWIJDEREN DROPDOWN PIJL: https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element#18878556 */
select{
  margin: 0 0 0 auto;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  height: 1.5em;
  font-size: 1em;
  text-align: right;
  background: var(--bgColor);
}

select>option{
  text-align: right;
}

select>option:active{
  color: red;
}

select:focus {
  color: var(--headerColor);
  transition: .3s;
}

section>ul{
  justify-content: center;
  list-style: none;
  background: var(--bgColor);
  color: black;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 5%;
}

section>ul>li{
  box-sizing: border-box;
  /* border: 1px solid black; */
  padding: 1em;
  background: white;
  border: 0.3em solid var(--accentColor);
  transition: .4s background ease-in-out;
}

section>ul>li>p:last-child{
  text-align: right;
}

section>ul>li:hover{
  background: var(--accentColor);
  color: white;
  transition: .4s background ease-in-out;
}

section>ul>li>div{
  display: flex;
  flex-direction: row;
}

section>ul>li>div>img{
  height: 6em;
}

section p{
  margin: 0;
  padding: 0;
}

section h3{
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1000px) {
  .frame{
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
  }

  .slider{
    height: 100vh;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  nav>ul{
    display: inline-block;
    margin: 2em 2em 2em 7em;
    padding: 0;
  }

  nav>ul>li{
    display: inline-block;
    border: 0px;
  }

  nav>ul>li:first-child{
    display: none;
  }

  /* nav>ul>li:hover{
    border-bottom: 1px solid white;
    transition: 0.3s border-bottom;
  } */

  nav>ul>li>a{
    width: auto;
    padding: 0.3em 1em;
  }

  nav label{
    display: none;
  }

  header>a>img{
    display: inline-block;
    margin: 0;
  }

  section{
    width: 70%;
    margin: 0 auto;
  }
}




/* header{
  color: white;
  width: 100vw;
  margin: 0;
  padding: 0 5vw;
  height: 9vh;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  z-index: 2;
}

header > img{
  width: 30vmin;
  margin-right: auto;
  align-self: flex-start;
}
/*de373d*/
/* 2264ae */
/* nav>ul{
  background: #de373d;
  opacity: 0.8;
  display: flex;
  align-items: center;
  margin-top: 1vh;
  padding-left: 0;
  border: solid 1px white;
}

nav > ul > li{
  list-style: none;
  width: 10vw;
  text-align: center;
}

li:hover > a{
  transition: 0.6s color;
  color: #2264ae;
  background: #de373d;
  border-left: solid 1px white;
  border-right: solid 1px white;
  box-sizing: border-box;
}

nav > ul > li > a{
  transition: 0.6s color;
  flex-direction: column;
  align-content: center;
  text-decoration: none;
  color: white;
  display: block;
  padding: 2.5vh 0;
}

.load{
  animation: mainslides 7s;
}

.slider{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  animation: mainslides 21s infinite;
  position: fixed;
}

@keyframes mainslides {
  0%{
    background-image: url("../resources/images/main1.jpg");
  }
  33%{
    background-image: url("../resources/images/main2.jpg");
  }
  66%{
    background-image: url("../resources/images/main3.jpg");
  }
  100%{
    background-image: url("../resources/images/main1.jpg");
  }
}

@media only screen and (max-width: 600px) {
  body {

    background-color: lightblue;
  }

  nav > ul{
    flex-direction: row;
  }
}

main{
  width: 100%;
  min-height: 100vh;
  top: 100vh;
  background: #e2e2e2;
  padding: 5vh 10vw;
  box-sizing: border-box;
  display: block;
  position: relative;
  z-index: 1;
}

.trainingen{
  background: white;
  padding: 5vh 10vw;
}

.trainingen > h2{
  margin-top: 0;
}

.trainingen ul{
  padding: 0;
}

.trainingen li{
  transition: 1s padding;
  list-style: none;
  padding: 0;

}

.trainingen li:hover{
  transition: 1s padding;
  padding: 0 3vw;
}  */
